@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.cursive-font {
  font-family: 'Sacramento', cursive;
}

.avatar {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 8px;
}

.wrapper {
  margin: 0 auto;
}

.blog-entries {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 8px;
  background-color: #f1f1f1;
  margin: 4px;
}

