@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.cursive-font {
  font-family: 'Sacramento', cursive;
}

.avatar {
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 8px;
}

.wrapper {
  margin: 0 auto;
}
