.container {
  display: flex;
  padding: 4px;
  margin: 0 auto;
  width: 80%;
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

@media all and (max-width: 768px) {
  .col, .container  {
    left: 30%;
    right: 30%;
    flex-direction: column;
    width: 100%;
  }
}
