/**
* Shapes
*/

.shape {
  background-color: $lighten-2;
  border: 1px solid $lighten-3;
  margin: 2px;
  padding: 4px;
  text-align: center;
}

.size-1 {
  height: 50px;
  width: 50px;
}
.size-2 {
  height: 100px;
  width: 100px;
}
.size-3 {
  height: 200px;
  width: 200px;
}

.round {
  @extend .shape;
  border-radius: 50%;
}
.round--round-1 {
  @extend .round;
  @extend .size-1;
}
.round--round-2 {
  @extend .round;
  @extend .size-2;
}
.round--round-3 {
  @extend .round;
  @extend .size-3;
}

.square {
  @extend .shape;
}

.square--square-1 {
  @extend .square;
  @extend .size-1;
}
.square--square-2 {
  @extend .square;
  @extend .size-2;
}
.square--square-3 {
  @extend .square;
  @extend .size-3;
}
