<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Elis de Santis Offerni</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/styles.css">
    
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div><img class="avatar" 
             src="https://avatars1.githubusercontent.com/u/5271523?s=400&amp;u=69d06c7014b70e7b5cff52cb316b8789866f7cc8&amp;v=4" 
             width="200" height="200" alt="@elsap">
        </div>
        
        <p>Hi! I'm Elis. I'm a Full Stack developer based in Bauru, São Paulo. I love cats and programming.</p>
          
          <p><a href="www.blog.elissantis.me" target="_blank">blog</a> . 
          <a href="www.github.com/elsap" target="_blank">github</a> .
          <a href="www.twitter.com/e_lis" target="_blank">twitter</a> .
          <a href="https://www.linkedin.com/in/elis-de-santis-a-offerni-7778bb75/" target="_blank">linkedin</a></p>
      </header>
      <section>
        
        <h3>Some blog entries</h3>

      <div id="rssincl-box-container-1181118"></div>
      <script type="text/javascript">
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = 'http://output60.rssinclude.com/output?type=asyncjs&id=1181118&hash=275a947fc87cbd959a244aa865208e41';
        document.getElementsByTagName('head')[0].appendChild(s);
      })();
      </script>
     
        <p><strong><a href="http://www.blog.elissantis.me">Read more</a></strong></p>

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
